@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #161616;
  --toastify-color-dark: #222433;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #710014;

  --color-black-1: #222433;
  --color-black-2: #31344A;
  --color-black-3: #33364D;
  --color-black-4: #1E1E2ACC;

  --color-gray-1: #798794;
  --color-gray-2: #F2F1ED;
  --color-gray-3: #EBEAE6;
  --color-gray-4: #D4D4D4;
  --color-gray-5: #9E9E9E;
}

@layer base {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #EBEAE6 inset !important;
    -webkit-text-fill-color: theme('colors.gray.900') !important;
  }

  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #EBEAE6 inset !important;
    -webkit-text-fill-color: theme('colors.gray.900') !important;
  }
}

@layer utilities {
  .font-kook {
    font-family: var(--font-kook) !important;
  }

  .ltr {
    direction: ltr !important;
  }

  .rtl {
    direction: rtl !important;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-center-row {
    @apply flex items-center justify-center flex-row;
  }

  .scroll-thin::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  .scroll-thin::-webkit-scrollbar-thumb {
    background: #D1D5DB;
  }

  .scroll-thin::-webkit-scrollbar-thumb {
    background: #D1D5DB;
  }

  .hide-scroll::-webkit-scrollbar {
    display: none;
  }

  .hide-scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .break-word-force {
    word-break: break-word;
  }

  .backdrop-background {
    @apply bg-[rgba(52,64,84,0.6)] backdrop-blur;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/*body {*/
/*  background: var(--background);*/
/*  color: var(--foreground);*/
/*}*/

button {
  @apply cursor-pointer;
}

/*datePicker classes*/

.rmdp-ep-arrow {
  z-index: 10000001 !important;
}

:root {
  --rmdp-primary-purple: #1A5F98;
  --rmdp-secondary-purple: #10395B;
  --rmdp-shadow-purple: #857FFD;
  --rmdp-today-purple: #10395B;
  --rmdp-hover-purple: #857FFD;
  --rmdp-deselect-purple: #C2BFFE;
}

.primarydate .rmdp-wrapper {
  border: 1px solid var(--rmdp-secondary-purple);
  box-shadow: 0 0 2px var(--rmdp-secondary-purple);
  z-index: 1000 !important;
}

.primarydate .rmdp-panel-body li {
  background-color: var(--rmdp-primary-purple);
  box-shadow: 0 0 2px var(--rmdp-secondary-purple);
}

.primarydate .rmdp-week-day {
  color: var(--rmdp-primary-purple);
}

.primarydate .rmdp-day.rmdp-deactive {
  color: var(--rmdp-secondary-purple);
}

.primarydate .rmdp-range {
  background-color: var(--rmdp-primary-purple);
  box-shadow: 0 0 3px var(--rmdp-shadow-purple);
}

.primarydate .rmdp-arrow {
  border: solid var(--rmdp-primary-purple);
  border-width: 0 2px 2px 0;
}

.primarydate .rmdp-arrow-container:hover {
  background-color: var(--rmdp-primary-purple);
  box-shadow: 0 0 3px var(--rmdp-secondary-purple);
}

.rmdp-arrow-container {
  @apply flex items-center justify-center;
}

.rmdp-arrow-container .rmdp-arrow {
  @apply m-0;
}

.rmdp-arrow-container.rmdp-left .rmdp-arrow {
  @apply mr-0.5;
}

.rmdp-arrow-container.rmdp-right .rmdp-arrow {
  @apply ml-0.5;
}

.primarydate .rmdp-panel-body::-webkit-scrollbar-thumb {
  background: var(--rmdp-primary-purple);
}

.rmdp-day.rmdp-today:not(.rmdp-selected) span {
  background-color: #eee !important;
  color: black !important;
}

.primarydate .rmdp-day.rmdp-today span {
  background-color: var(--rmdp-today-purple) !important;
}

.primarydate .rmdp-rtl .rmdp-panel {
  border-left: unset;
  border-right: 1px solid var(--rmdp-secondary-purple);
}

.primarydate .rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: var(--rmdp-primary-purple);
  box-shadow: 0 0 3px var(--rmdp-shadow-purple);
}

.primarydate .rmdp-day:not(.rmdp-day-hidden) span:hover {
  background-color: var(--rmdp-hover-purple) !important;
}

.primarydate .b-deselect {
  color: var(--rmdp-deselect-purple);
  background-color: white;
}

.primarydate .rmdp-action-button {
  color: var(--rmdp-primary-purple);
}

.primarydate .rmdp-button:not(.rmdp-action-button) {
  background-color: var(--rmdp-primary-purple);
}

.primarydate .rmdp-button:not(.rmdp-action-button):hover {
  background-color: var(--rmdp-deselect-purple);
}

.rmdp-day-picker > div {
  @apply w-[320px];
}

.rmdp-mobile .rmdp-day, .rmdp-mobile .rmdp-week-day {
  @apply w-12! h-12!;
}

.rmdp-day-picker .rmdp-day span.sd {
  @apply text-2xl! font-medium;
}


.rmdp-day-picker .rmdp-week-day {
  @apply text-[13px]! w-[60px];
}

.rmdp-ep-arrow + div {
  z-index: 1000 !important;
}

.rmdp-mobile .rmdp-action-button {
  @apply text-base! font-semibold w-20!;
}

.rmdp-header-values span {
  @apply text-xl font-medium px-2!;
}