@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #161616;
  --toastify-color-dark: #222433;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #710014;

  --color-black-1: #222433;
  --color-black-2: #31344A;
  --color-black-3: #33364D;
  --color-black-4: #1E1E2ACC;

  --color-gray-1: #798794;
  --color-gray-2: #F2F1ED;
  --color-gray-3: #EBEAE6;
  --color-gray-4: #D4D4D4;
  --color-gray-5: #9E9E9E;
}

@layer base {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #EBEAE6 inset !important;
    -webkit-text-fill-color: theme('colors.gray.900') !important;
  }

  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #EBEAE6 inset !important;
    -webkit-text-fill-color: theme('colors.gray.900') !important;
  }
}

@layer utilities {
  .font-kook {
    font-family: var(--font-kook) !important;
  }

  .ltr {
    direction: ltr !important;
  }

  .rtl {
    direction: rtl !important;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-center-row {
    @apply flex items-center justify-center flex-row;
  }

  .scroll-thin::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  .scroll-thin::-webkit-scrollbar-thumb {
    background: #D1D5DB;
  }

  .scroll-thin::-webkit-scrollbar-thumb {
    background: #D1D5DB;
  }

  .hide-scroll::-webkit-scrollbar {
    display: none;
  }

  .hide-scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .break-word-force {
    word-break: break-word;
  }

  .backdrop-background {
    @apply bg-[rgba(52,64,84,0.6)] backdrop-blur;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/*body {*/
/*  background: var(--background);*/
/*  color: var(--foreground);*/
/*}*/

button {
  @apply cursor-pointer;
}